<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="Create New Product [Chrome]" >
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="myprojects.automation.assignment4.tests"/>
        </packages>
        <!--configure test to execute testing script using Chrome browser-->
    </test>

    <test name="Create New Product [Firefox]" >
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="myprojects.automation.assignment4.tests"/>
        </packages>
        <!--configure test to execute testing script using Chrome browser-->
    </test>

    <test name="Create New Product [Internet Explorer]" >
        <parameter name="browser" value="ie"/>
        <packages>
            <package name="myprojects.automation.assignment4.tests"/>
        </packages>
        <!--configure test to execute testing script using Chrome browser-->
    </test>


</suite>